<ion-view title="About Us" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NqwSFPzHQYSop2jUJMFs_family_icon.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="aboutUs-list3">
      <ion-item class="item-icon-left" id="aboutUs-list-item7" href="tel:+60192215095">
        <i class="icon ion-ios-telephone"></i>Phone</ion-item>
      <ion-item class="item-icon-left" id="aboutUs-list-item8" href="mailto:inakhamis@gmail.com">
        <i class="icon ion-email-unread"></i>Email</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="aboutUs-list-item9">
        <i class="icon ion-ios-world-outline"></i>Webiste Add
        <i class="icon ion-ios-flower-outline"></i>
      </ion-item>
    </ion-list>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15938.557061404224!2d101.656485!3d2.919667!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x626fd1d1a8d3540!2sOTPAM+iT+HUB!5e0!3m2!1sen!2smy!4v1553914737414!5m2!1sen!2smy" width="100%" height="250"
      frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </ion-content>
</ion-view>