<ion-view title="Android" id="page2">
  <ion-content padding="false" class="has-header">
    <h5 id="android-heading2" style="color:#000000;text-align:center;">Top 20 Best Android Apps 2019</h5>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/1GK_qKibY_g?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="android-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="android-list2">
      <ion-item class="item-avatar item-icon-right" id="android-list-item6">
        <img src="img/AAuE7mDeSkJPtC_6GUEaeUDFYecqYh72nq6YH0_Etgs48-mo-c-c0xffffffff-rj-k-no">
        <h2> HowToMen</h2>
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="android-toggle1">Toggle</ion-toggle>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <div id="android-button-bar1" class="button-bar">
      <a ui-sref="apptraiing()" id="android-button5" class="button button-dark button-full">HOme</a>
      <a ui-sref="aboutUs()" id="android-button6" class="button button-positive button-block">About US</a>
      <a ui-sref="iOS()" id="android-button7" class="button button-energized button-block">IOS</a>
    </div>
  </ion-content>
</ion-view>