<ion-view title="IOS" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/iYmSSVHvQweIAG2uTUNS_ios_icon.jpg" style="display: block; width: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="iOS-button-bar2" class="button-bar">
      <a ui-sref="apptraiing()" id="iOS-button11" class="button button-dark button-block">Home</a>
      <a ui-sref="android()" id="iOS-button12" class="button button-positive button-block">Android</a>
      <a ui-sref="aboutUs()" id="iOS-button13" class="button button-energized button-block">About US</a>
    </div>
  </ion-content>
</ion-view>