<ion-view title="Slider page" hide-nav-bar="true" id="page5" style="background-color:#E2C912;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="sliderPage-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="sliderPage-slide25" style="background-color:#AA009C;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/JE6z3U2nQfufHRAHY1AF_unnamed.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide28" style="background-color:#AA009C;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/hGTNy8uvRyOysLQ3FdxW_app_icon.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide27" style="background-color:#AA009C;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <a style="display:block;" ui-sref="apptraiing()">
                  <img src="img/9artqTy6S8akUmyVgv71_url.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
                </a>
              </div>
              <a ui-sref="apptraiing()" id="sliderPage-button8" class="button button-positive button-block">Tap me!</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>